.App {
  text-align: center;
}

.App-logo {
  justify-content: center;
}

.App-logo img {
  height: 60px;
}

@media (min-width: 1024px) {
  .App-logo img {
    height: 150px;
  }
}

.App-container {
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
}

.App-images{
  width: 100%;
}

.App-header {
  padding:  0 0 20px 0;
  color: #333;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
